@model JsonParseApp.Models.EducationProgramData

<div class="form-row">
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.StudentlnQual1, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.StudentlnQual1, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.StudentlnLevel, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.StudentlnLevel, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.StudentlnDuration, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.StudentlnDuration, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.StudentlnCourse, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.StudentlnCourse, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.StudentlnPastschool1, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.StudentlnPastschool1, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.StudentlnPastqual1, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.StudentlnPastqual1, new { @readonly = "readonly", @class = "form-control" })
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(m => m.StudentlnSchool, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.StudentlnSchool, new { @readonly = "readonly", @class = "form-control" })
    </div>
</div>

<hr />
<h5>Student Loan Borrow</h5>
<hr />

<div class="form-row">
    <div class="form-group col-md-3" id="StuLnBorrowItemVal">
        <h6>Item Val</h6>
        @for (int i = 0; i < Model.StudentlnBorr.Count; i++)
        {
           
            @Html.TextBoxFor(m => Model.StudentlnBorr[i].StudentlnBorrItemval, new { @readonly = "readonly", @class = "form-control" })
        }
    </div>
    <div class="form-group col-md-4" id="StuLnBorrowAidItem">
        <h6>Aid Item</h6>
        @for (int j = 0; j < Model.StudentlnBorr.Count;j++)
        {
            @Html.TextBoxFor(m => Model.StudentlnBorr[j].StudentlnBorrAiditem, new { @readonly = "readonly", @class = "form-control" })

        }
    </div>
</div>