@model IList<JsonParseApp.Models.GrossAnnualFamilyIncome>


<div class="col-md-8">
    <h6>Gross Family Income</h6>
    <table class="table table-dark table-borderless">
        <thead>
            <tr>
                <th scope="col">Income 2</th>
                <th scope="col">Income 3</th>
                <th scope="col">Income 4</th>
                <th scope="col">Second Occupation</th>
            </tr>
        </thead>
        <tbody>
            @for (int g = 0; g < Model.Count; g++)
            {
                <tr>

                    <td>@Html.TextBoxFor(m=>Model[g].CustomersFinancialIncome2, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m=> Model[g].CustomersFinancialIncome3, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m=> Model[g].CustomersFinancialIncome4, new { @class = "form-control" })</td>
                    <td>@Html.TextBoxFor(m=> Model[g].CustomerSecondoccupation, new { @class = "form-control" })</td>
                    @Html.HiddenFor(m=> Model[g].CustomersFinancialIncome1)
                    @Html.HiddenFor(m=> Model[g].CustomerSecondoccupation)
                    @Html.HiddenFor(m=> Model[g].GuarantorFinancialId)
                    @Html.HiddenFor(m=> Model[g].LoanApplicantProfileId)
                </tr>

            }
        </tbody>
    </table>

</div>
