@model JsonParseApp.Models.LoanConfig

<div class="form-row">
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansAppType, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansAppType, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansAppldate, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansAppldate, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansBranchid, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansBranchid, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFladescr, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFladescr, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlaesins, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlaesins, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlafxins, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlafxins, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlagptmt, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlagptmt, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlagpval, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlagpval, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlaicmet, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlaicmet, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlaicrat, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlaicrat, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlainsud, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlainsud, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlainsup, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlainsup, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlalocat, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlalocat, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlalpmet, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlalpmet, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlaltype, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlaltype, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlaptype, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlaptype, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlarpmet, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlarpmet, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlasecto, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlasecto, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlasubsc, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlasubsc, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlatloan, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlatloan, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlattermm, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlattermm, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansFlacurrncy, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansFlacurrncy, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansInquirydate, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansInquirydate, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansRepayCycle, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansRepayCycle, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansYearLength, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansYearLength, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansRefinanceamt, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansRefinanceamt, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansConsolidateamt, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansConsolidateamt, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansConsolNewamtreq, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansConsolNewamtreq, new { @class = "form-control" })
    </div>
    <div class="form-group col-md-4">
        @Html.LabelFor(m => m.LoansPrincipalInterest, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.LoansPrincipalInterest, new { @class = "form-control" })
    </div>
</div>
