@model JsonParseApp.Models.MinorProfile

<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersFirstname, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersFirstname, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersMiddlename, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersMiddlename, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersLastname, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersLastname, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersFullName, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersFullName, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersBirthdate, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersBirthdate, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersRelationborrower, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersRelationborrower, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersSex, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersSex, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersArea, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersArea, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersCountry, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersCountry, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersCity, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersCity, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersStreet, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersStreet, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersBelizeanresident, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersBelizeanresident, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersIdtype, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersIdtype, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersIdnumber, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersIdnumber, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersUploadidimage, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersUploadidimage, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersEmail, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersEmail, new { @class = "form-control" })
</div>
<div class="form-group col-md-4">
    @Html.LabelFor(m => m.CustomersHomephone, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.CustomersHomephone, new { @class = "form-control" })
</div>
