@using Microsoft.Ajax.Utilities
@model JsonParseApp.Models.StudentLoan

<h3>Student Loan Data</h3>

<div class="col-md-12">
    <div class="alert alert-secondary" role="alert">
        Thoroughly read through the provided information to determine whether certain customer entities are even necessary for importation to DPAC.
    </div>
</div>
<div class="card" style="width: 100%">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" href="#eduProgram" aria-selected="false" aria-controls="form">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Minor Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Loan Applicant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="guarantor-tab" data-toggle="tab" href="#guarantor" role="tab" aria-controls="guarantor" aria-selected="false">Guarantor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="loanConfig-tab" data-toggle="tab" href="#loanConfig" role="tab" aria-controls="loanConfig" aria-selected="false">Loan Configuration</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" id="save-tab" data-toggle="tab" href="#saveLink" role="tab" aria-controls="saveRef" aria-selected="False"><i class="fa fa-save"></i> Save</a>
            </li>
        </ul>
    </div>
    @using (Html.BeginForm("SaveLoanValues", "Home", FormMethod.Post, new { @id = "loanDataForm" }))
    {
        @Html.ValidationSummary( true,"Ensure the following errors are resolved:");

        <div class="card-body">
            <div class="tab-content" id="myTabContent">

                <!--.---------------------------------------------------------------------------------------------------------.-->

                <div class="tab-pane fade show active" id="eduProgram" role="tabpanel" aria-labelledby="home-tab">
                    <h4 style="text-align: center"><i class="fa fa-book"></i> Education Program Data</h4><hr />
                    @Html.Partial("~/Views/ModelPartials/_EducationProgramData.cshtml", Model.EducationProgramData, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "EducationProgramData" } })
                </div>


                <!--.---------------------------------------------------------------------------------------------------------.-->

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h4 style="text-align: center"><i class="fa fa-id-card"></i> Minor Profile</h4>
                    <hr />
                    @if (Model.MinorProfile == null)
                    {
                        <p> Does not contain any data</p>
                    }
                    else
                    {

                        @Html.Partial("~/Views/ModelPartials/_MinorProfile.cshtml", Model.MinorProfile, new ViewDataDictionary {TemplateInfo = new TemplateInfo {HtmlFieldPrefix = "MinorProfile"}})

                    }

                </div>

                <!--.---------------------------------------------------------------------------------------------------------.-->

                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <h4 style="text-align: center"><i class="fa fa-address-card"></i> Loan Applicant</h4>
                    <hr />

                    @Html.Partial("~/Views/ModelPartials/_LoanApplicantProfile.cshtml", Model.LoanApplicantProfile, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "LoanApplicantProfile" } })

                </div>

                <!--.---------------------------------------------------------------------------------------------------------.-->

                <div class="tab-pane fade" id="guarantor" role="tabpanel" aria-labelledby="guarantor-tab">
                    <h4 style="text-align: center"><i class="fa fa-users"></i> Guarantor(/s)</h4>
                    <hr />
                    @if (Model.Guarantors != null)
                    {

                        string name = Html.NameFor(m => Model.Guarantors).ToString();
                        string prefix = Html.ViewContext.ViewData.TemplateInfo.GetFullHtmlFieldName(name);
                        ViewDataDictionary viewGuarantorData = new ViewDataDictionary(Html.ViewData)
                        {
                            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = prefix }
                        };

                        @Html.Partial("~/Views/ModelPartials/_Guarantor.cshtml", Model.Guarantors, viewGuarantorData);
                    }
                    else
                    {
                    <p> Does not contain any data</p>
                    }


                </div>

                <!--.---------------------------------------------------------------------------------------------------------.-->

                <div class="tab-pane fade" id="loanConfig" role="tabpanel" aria-labelledby="loanConfig-tab">
                    <h4 style="text-align: center"><i class="fa fa-cog"></i> Loan Config</h4>
                    <hr />
                    @Html.Partial("~/Views/ModelPartials/_LoanConfig.cshtml", Model.LoanConfig, new ViewDataDictionary { TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "LoanConfig" } })

                </div>

                <!--.---------------------------------------------------------------------------------------------------------.-->
                <div class="tab-pane fade" id="saveLink" role="tabpanel" aria-labelledby="save-tab">
                    <button id="importBtn" class="btn btn-success"><i class="fa fa-arrow-circle-up"></i> Import Loan Data </button>
                </div>
            </div>
        </div>
    }
</div>

